@using Blorc.Dom.Injectors
@using Blorc.Components
@using Blorc.PatternFly.Layouts
@using Blorc.PatternFly.Components.Page
@using Blorc.PatternFly.Components.Button

@inherits PatternFlyLayoutComponentBase

<Page>
    <LogoContent>
        Blorc.PatternFly.QuickStart
    </LogoContent>
    <ToolbarContent>
        <Button Component="a" Variant="ButtonVariant.Primary" Href="http://blazor.net">
            About
        </Button>
    </ToolbarContent>
    <SidebarContent>
        <NavMenu />
    </SidebarContent>
    <MainContent>
        @Body
    </MainContent>
</Page>