@page "/counter"

@using Blorc.Components
@using Blorc.PatternFly.Components.Button
@using Blorc.PatternFly.Components.Text

@inherits BlorcComponentBase

<TextContent>
    <Text Component="h1">Counter</Text>
</TextContent>
<TextContent>
    <Text Component="blockquote">Current count: @CurrentCount</Text>
</TextContent>
<br />
<Button Variant="ButtonVariant.Primary" OnClick=@((s,e) => IncrementCount())>Click me</Button>

@code {
    public int CurrentCount
    {
        get { return GetPropertyValue<int>(nameof(CurrentCount)); }
        set { SetPropertyValue(nameof(CurrentCount), value); }
    }

    private void IncrementCount()
    {
        CurrentCount++;
    }

    protected override void OnPropertyChanged(System.ComponentModel.PropertyChangedEventArgs e)
    {
        if(e.PropertyName == nameof(CurrentCount))
        {
            StateHasChanged();
        }
    }
}
