@page "/fetchdata"

@using System.Collections
@using System.Net.Http.Json

@using Blorc.PatternFly.Components.Text
@using Blorc.PatternFly.Components.Table

@inject HttpClient Http

<TextContent>
    <Text Component="h1">Weather forecast</Text>
    <Text Component="blockquote">This component demonstrates fetching data from the server.</Text>
</TextContent>

<br />

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Table Caption="Action Column" DataSource=@forecasts>
        <Header>
            <Row>
                <Column Label="Date" Key="Date" IsSortable="true" Idx="0" />
                <Column Label="Temp. (C)" Key="TemperatureC" IsSortable="true" Idx="1" />
                <Column Label="Temp. (F)" Key="TemperatureF" IsSortable="true" Idx="2" />
                <Column Label="Summary" Key="Summary" Idx="3" />
            </Row>
        </Header>
    </Table>
}

@code {
    private FetchData.WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
    }

    public class WeatherForecast
    {
        public DateTime Date { get; set; }

        public int TemperatureC { get; set; }

        public string Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
